<div layout-gt-sm="row">
    <div flex-gt-xs="60" flex-offset-gt-xs="20" flex-xs="90" flex-offset-xs="5" *ngIf="this.deck && this.deck.cards">
        <h2 id="deck-header">{{ this.deck.name }}</h2>
            <td-message *ngIf="this.deck.cards.length == 0" label="No Cards" sublabel="This deck is empty, tap + to add cards.">
            </td-message>
        <app-card id="card" *ngFor="let card of this.deck.cards" [card]="card"></app-card>
    </div>
</div>


<button mat-fab id="cardDialog" class="deck-fab" matTooltip="Add Card" matTooltipPosition="left" (click)="this.openAddDialog()">
    <mat-icon class="md-24" aria-label="Add Card">add</mat-icon>
</button>
