:host {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.margin {
    margin-top: -64px;
}

.score {
    float: right;
    display: block;
    vertical-align: center;
    margin-right: 15px;
}

kb-page-slider {
    width: 100%;
    height: 100%;
    min-height: 100px;
}

//.button-container {
//    display: flex;
//    align-items: center;
//   justify-content: center;
//}

.game-id {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
}

.emoji {
    margin-top: 4px;
    font-size: 24px;
}


