<kb-page-slider *ngIf="this.deckId && this.cardStates &&  this.cardStates.length != 0; else noCards"
                [(page)]="this.pageNumber"
                (pageCountChange)="pageCount = $event;"
                [showIndicator]="false" dotColor="black">
    <mat-toolbar color="primary"></mat-toolbar>
    <div *kbPages="let cardState of  this.cardStates; let ind = index"
         [ngClass]="{'active-kb-page' : ind == this.pageNumber}">
        <div class="margin" layout="row" layout-align="center start" layout-fill>
            <div flex-gt-xs="70" flex-xs="90">

                <!--<app-card [card]="card"></app-card>!-->
                <app-card class="play-card" [card]="cardState.playCard"
                          [selected]="cardState.selectedCardHints" [emoji]="cardState.emoji"></app-card>

                <button class="hint-button" mat-raised-button color="primary"
                        [disabled]="cardState.isComplete || !cardState.cardHints.length"
                        (click)="cardState.randomizeSages(); this.updateGame()">Hint?
                </button>
                <button class="got-it-button" mat-raised-button color="primary"
                        [disabled]="cardState.isComplete" (click)="this.addPoints(ind)">Got It!
                </button>
                <span class="score">Score: {{this.points}}</span>

                <section>
                    <button class="emoji" mat-icon-button (click)="this.updateEmoji('😁', ind)">
                        😁
                    </button>

                    <button class="emoji" mat-icon-button (click)="this.updateEmoji('👍', ind)">
                        👍
                    </button>

                    <button class="emoji" mat-icon-button (click)="this.updateEmoji('🌟', ind)">
                        🌟
                    </button>

                    <button class="emoji" mat-icon-button (click)="this.updateEmoji('😎', ind)">
                        😎
                    </button>
                </section>
            </div>
        </div>
    </div>


    <kb-nav-button id="backward-button" backward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
    <kb-nav-button id="forward-button" forward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
</kb-page-slider>
<ng-template #noCards>
    <mat-toolbar color="primary"></mat-toolbar>
    <div class="margin" layout="row" layout-align="center start" layout-fill>
        <div flex-gt-xs="70" flex-xs="90">
            <mat-card>
                <br>
                <td-message class="no-cards-message" [opened]="this.deckId && this.cardStates" label="No Cards"
                            sublabel="This deck is empty, please add cards to play">
                </td-message>
                <td-message class="no-deck-message" [opened]="!this.deckId" label="No Deck"
                            sublabel="This deck does not exist">
                </td-message>
                <br>
            </mat-card>
        </div>
    </div>
</ng-template>
<button mat-button class="game-id" (click)="this.showGameId()">Invite to Game</button>

