<mat-nav-list> <!-- *ngIf="this.deckService.decks; else decksError" -->
    <td-message class="no-decks-message" [opened]="this.decks && this.decks.length == 0" label="No Decks"
                sublabel="The deck list is empty, tap + to add a deck.">
    </td-message>
    <mat-list-item class="deck" *ngFor="let deck of this.decks">
        <a class="deck-name" matLine [routerLink]="['/deck', deck.id]">{{ deck.name }}</a>
        <button mat-raised-button color="primary" class="play-button" [routerLink]="['/play', deck.id]">
            <mat-icon style="color: white">play_arrow</mat-icon>
            <span>Play</span>
        </button>
    </mat-list-item>
</mat-nav-list>


