<kb-page-slider *ngIf="this.deck && this.deck.cards" [(page)]="this.pageNumber" (pageCountChange)="pageCount = $event"
                [showIndicator]="false" dotColor="black">
    <mat-toolbar color="primary"></mat-toolbar>
    <div *kbPages="let card of this.deck.cards">
    <div class="margin" layout-gt-xs="row" layout-align-gt-xs="center start" layout-fill>
        <div flex-gt-xs="70">
            <app-card [card]="card"></app-card>

            <div [@tdBounce]="bounceState">{{this.points}}</div>

        </div>
    </div>
    </div>
    <kb-nav-button backward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount" (click)="this.subtractPoints()">
    </kb-nav-button>
    <kb-nav-button forward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount" (click)="this.addPoints()">
    </kb-nav-button>
</kb-page-slider>
