:host {
    z-index: 2;
}
.margin {
    margin-top: -64px;
}


kb-page-slider {
    width: 100%;
    height: 300px;
}

//.button-container {
//    display: flex;
//    align-items: center;
 //   justify-content: center;
//}
