<kb-page-slider *ngIf="this.deck && this.deck.cards" [(page)]="this.pageNumber" (pageCountChange)="pageCount = $event;"
                [showIndicator]="false" dotColor="black">
    <mat-toolbar color="primary"></mat-toolbar>
    <div *kbPages="let card of this.deck.cards">
    <div class="margin" layout="row" layout-align="center start" layout-fill>
        <div flex-gt-xs="70" flex-xs="90">


            <!--<app-card [card]="card"></app-card>!-->
            <app-card [card]="card" [selected]="this.getCardState(this.pageNumber).selected"></app-card>

            <button id="hint" mat-raised-button color="primary" [disabled]="this.getCardState(this.pageNumber).isComplete || !this.getCardState(this.pageNumber).cardHints.length" (click)="this.getCardState(this.pageNumber).randomizeSages()">Hint?</button>
            <button id="got-it" mat-raised-button color="primary" [disabled]="this.getCardState(this.pageNumber).isComplete" (click)="this.addPoints()">Got It!</button> Score: {{this.points}}

        </div>
    </div>
    </div>
    <kb-nav-button backward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
    <kb-nav-button forward [showBackground]="true" hide-xs
                   [(page)]="this.pageNumber" [pageCount]="pageCount">
    </kb-nav-button>
</kb-page-slider>
