<td-layout #layout>
    <td-navigation-drawer flex>
        <div td-navigation-drawer-toolbar>
            <span layout="row"
                  layout-align="start center">
                <span class="md-subhead">SAGE</span>
            </span>
        </div>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']" [tdLayoutClose]="true" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>home</mat-icon>Home</a>
            <a mat-list-item [routerLink]="['/mydecks']" [tdLayoutClose]="true" routerLinkActive="nav-active"><mat-icon>view_list</mat-icon>My Decks</a>
        </mat-nav-list>

        <mat-nav-list dense>
            <mat-divider></mat-divider>
            <h3 matSubheader>Classes</h3>
            <a mat-list-item *ngFor="let c of this.classService.classes | async" [routerLink]="['/class', c.id]" routerLinkActive="nav-active" [tdLayoutClose]="true">{{ c.name }}</a>
        </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="SAGE" navigationRoute="/">
        <button mat-icon-button td-menu-button tdLayoutToggle>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>
