.hint-selected {
    background-color: yellow;
}
.card-line {
    margin-top: 5px;

}
.card-desc { float: left; width: 120px; }
.card-cont { margin-left: 120px; }

.card-word, .card-cont {
    word-wrap: break-word;
}

.speak-button {
    float: right;
    display: block;
    //vertical-align: top;
    margin-top: 5px;
    margin-right: 5px;
}

.emoji {
    float: right;
    font-size: 2em;
    display: inline-block;
    //margin-bottom: 22px;
}
