<mat-card>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <button mat-icon-button color="primary" aria-label="Drag Card"><mat-icon>drag_handle</mat-icon></button>
                <span style="width: 3px;">  </span>
                {{ card.word }}
            </mat-panel-title>
            <mat-panel-description>
                <span fxFlex></span>
                <button mat-icon-button color="primary" (click)="editCard()" aria-label="Delete Card"><mat-icon>mode_edit</mat-icon></button>
                <button mat-icon-button color="primary" align="end"(click)="deleteCard()" aria-label="Delete Card"><mat-icon>delete</mat-icon></button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card-content>
            <div class="card-synonym card-line" [ngClass]="{'hint-selected': this.selected.indexOf(1) != -1}"><div class="card-desc">Synonym:</div> <div class="card-cont">{{ card.synonym }}</div></div>
            <div class="card-antonym card-line" [ngClass]="{'hint-selected': this.selected.indexOf(2) != -1}"><div class="card-desc">Antonym:</div> <div class="card-cont">{{ card.antonym }}</div></div>
            <div class="card-general-usage card-line" [ngClass]="{'hint-selected': this.selected.indexOf(3) != -1}"><div class="card-desc">General usage:</div> <div class="card-cont">{{ card.general_sense }}</div></div>
            <div class="card-example-usage card-line" [ngClass]="{'hint-selected': this.selected.indexOf(4) != -1}"><div class="card-desc">Example usage:</div> <div class="card-cont">{{ card.example_usage }}</div></div>
        </mat-card-content>
    </mat-expansion-panel>
</mat-card>

