<div layout-gt-sm="row">
    <div flex-gt-xs="80" flex-offset-gt-xs="10" flex-xs="96" flex-offset-xs="2">
        <mat-card>
            <mat-card-title class="decks-title">My Decks</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <app-deck-list title="My Decks" [decks]="this.deckService.getUserDecks | async"></app-deck-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<button mat-fab id="deckDialog" class="deck-list-fab" matTooltip="Add Deck" matTooltipPosition="left" (click)="this.openAddDialog()" *ngIf="afAuth.auth.currentUser">
    <mat-icon class="md-24" aria-label="Add Deck">add</mat-icon>
</button>
