<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <input #input type="text" placeholder="Filter by name" [(ngModel)]="search">
        <input #input type="number" placeholder="Filter by age" [(ngModel)]="targetAge">
    </li>
    <li class="list-group-item list-group-item-info">User Name</li>
    <li *ngFor="let user of users | filterBy: {name: search} | filterBy: { age: targetAge }" class="list-group-item">
        {{ user.name }} is {{ user.age }} years old
    </li>
</ul>
