<app-deck-list *ngIf="this.currentClass && this.decks" [title]="this.currentClass.name" [decks]="this.decks" [canEdit]="this.canEdit"></app-deck-list>
<div layout-gt-sm="row"  *ngIf="this.currentClass">
    <div flex-gt-xs="80" flex-offset-gt-xs="10" flex-xs="96" flex-offset-xs="2">
        <mat-card>
            <mat-card-title>Class Members</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let user of this.currentClass.users | keyvalue | orderBy: '-value.teacher' ">
                        <mat-icon mat-list-icon>account_circle</mat-icon>
                        <h4 mat-line>{{ user.value.nickname }}</h4>
                        <button *ngIf="this.canEdit && !user.value.teacher" mat-icon-button matTooltip="Add as Teacher" (click)="addATeacher(user.key)" aria-label="Add a Teacher">
                            <mat-icon>add</mat-icon>
                        </button>
                        <p mat-line>{{ user.value.teacher ? "Teacher" : "Student"}}</p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div layout-gt-sm="row"  *ngIf="this.currentClass && this.canEdit">
    <div flex-gt-xs="80" flex-offset-gt-xs="10" flex-xs="96" flex-offset-xs="2">
        <mat-card>
            <mat-card-title>Sharing</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div *ngIf="this.currentClass.joincode">
                    <div layout="row">
                        <mat-form-field *ngIf="this.currentClass.joincode" flex>
                            <input readonly matInput placeholder="Join Code" [ngModel]="this.joinUrl">
                        </mat-form-field>
                        <button mat-icon-button *ngIf="!this.canShare" ngxClipboard [cbContent]="this.joinUrl" matTooltip="Copy URL"><mat-icon>content_copy</mat-icon></button>
                        <button mat-icon-button *ngIf="this.canShare" (click)="this.browserShareInvite()"><mat-icon>share</mat-icon></button>
                    </div>
                <ngx-qrcode qrc-element-type="url" [qrc-value]="this.joinUrl">
                </ngx-qrcode>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="this.classService.updateJoinCode(this.id)">{{this.currentClass.joincode ? "Update" : "Create"}} join code</button>
                <button mat-button (click)="this.classService.removeJoinCode(this.id)">Remove join code</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<button mat-fab id="deckDialog" class="deck-list-fab" matTooltip="Add Deck" matTooltipPosition="left" (click)="this.openAddDialog()" *ngIf="this.canEdit">
    <mat-icon class="md-24" aria-label="Add Deck">add</mat-icon>
</button>
