<div layout="row" layout-align="center start" *ngIf="this.deck; else noDeck">
    <div flex-gt-xs="80" flex-xs="90" *ngIf="this.cards">
        <div layout="row" layout-align="space-between center">
            <h2 flex id="deck-header">{{ this.deck.name }}</h2>
            <button mat-icon-button matTooltip="Play this Deck" [routerLink]="['/play', this.id]" [disabled]="this.cards.length == 0">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="this.deckOwner()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" *ngIf="this.deckOwner()">
                <button mat-menu-item *ngIf="this.deck && this.deck.classId" (click)="this.toggleStudentEdit()">
                    <mat-icon>{{this.deck.studentEdit ? "lock_open" : "lock" }}</mat-icon>
                    <span>Student Editing {{this.deck.studentEdit ? "Enabled" : "Disabled" }}</span>
                </button>
                <button mat-menu-item [matMenuTriggerFor]="moveto">
                    <mat-icon style="-webkit-transform: scaleX(-1); transform: scaleX(-1);">reply</mat-icon>
                    <span>Move</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>

            <mat-menu #moveto="matMenu" *ngIf="this.deckOwner()">
                <button mat-menu-item [disabled]="this.deck.users" (click)="this.moveToMyDecks()">My Decks</button>
                <button mat-menu-item *ngFor="let c of this.classService.classes | filterBy: ['users.' + this.afAuth.auth.currentUser.uid + '.teacher']: true"
                        [disabled]="this.deck.classId && this.deck.classId == c.id" (click)="this.moveToClass(c.id, c.name)">{{ c.name }}</button>
            </mat-menu>
        </div>
        <td-message class="no-cards-message" *ngIf="this.cards.length == 0" label="No Cards"
                    sublabel="This deck is empty, tap + to add cards.">
        </td-message>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let card of this.cards" [ngClass]="{'card-hidden': this.card.hidden}">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ card.word }}</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="card-synonym card-line">
                    <div class="card-desc">Synonym:</div>
                    <div class="card-cont">{{ card.synonym }}</div>
                </div>
                <div class="card-antonym card-line">
                    <div class="card-desc">Antonym:</div>
                    <div class="card-cont">{{ card.antonym }}</div>
                </div>
                <div class="card-general-usage card-line">
                    <div class="card-desc">General usage:</div>
                    <div class="card-cont">{{ card.general_sense }}</div>
                </div>
                <div class="card-example-usage card-line">
                    <div class="card-desc">Example usage:</div>
                    <div class="card-cont">{{ card.example_usage }}</div>
                </div>
                <mat-action-row *ngIf="this.canEdit()">
                    <mat-slide-toggle color=primary [checked]="this.card.hidden" (change)="this.cardHide(card.id, $event.checked)" style="margin-top: 12px;">Hide Card</mat-slide-toggle>
                    <span flex></span>
                    <button mat-icon-button matTooltip="Edit card" (click)="editCard(card)" aria-label="Edit card">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Delete card" (click)="deleteCard(card.id)" aria-label="Delete card">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<ng-template #noDeck>
    <div layout="row" layout-align="center start" *ngIf="this.loaded">
        <div flex-gt-xs="80" flex-xs="90">
            <td-message class="no-deck-message" label="No Deck"
                        sublabel="This deck does not exist.">
            </td-message>
        </div>
    </div>
</ng-template>

<button mat-fab id="cardDialog" class="deck-fab" matTooltip="Add Card" matTooltipPosition="left"
        (click)="this.openAddDialog()" *ngIf="this.isTeacher()">
    <mat-icon class="md-24" aria-label="Add Card">add</mat-icon>
</button>
