@import "../../theme";

.deck-fab {
    position: fixed;
    bottom: 15px;
    right: 30px;
}
.card-line {
    margin-top: 5px;

}
.card-desc { float: left; width: 120px; }
.card-cont { margin-left: 120px; }

.card-word, .card-cont {
    word-wrap: break-word;
}

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);

.card-hidden {
    .mat-expansion-panel-header,
    .mat-expansion-panel-header-title,
    .mat-expansion-panel-header-description,
    .card-line {
        color: mat-color($foreground, disabled-button);
    }
}

.disabled-text {
    color: mat-color($foreground, disabled-button);
}

.tag-chip {
    background-color: mat-color($mat-grey, 400) !important;
}
