<div layout-gt-sm="row">
    <div flex-gt-xs="80" flex-offset-gt-xs="10" flex-xs="96" flex-offset-xs="2">

        <mat-card>
            <mat-card-title>Decks</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>


                <mat-nav-list *ngIf="this.deckService.decks; else decksError">
                    <mat-list-item *ngFor="let deck of this.deckService.decks">
                        <a matLine [routerLink]="['/decks', deck._id.$oid]">{{ deck.name }}</a>
                        <button mat-raised-button color="primary" [routerLink]="['/play', deck._id.$oid]">
                            Play
                        </button>
                    </mat-list-item>
                </mat-nav-list>
                <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
               <ng-template #decksError>
                    <p>
                        There was a problem loading the decks. Possibly the server is down or perhaps there are network
                        issues.
                    </p>
                    <p>
                        Please wait a bit and try again or start the server.
                    </p>
                </ng-template>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<button mat-fab class="deck-list-fab" matTooltip="Add Deck" matTooltipPosition="left" (click)="this.openAddDialog()">
    <mat-icon class="md-24" aria-label="Add Deck">add</mat-icon>
</button>
