@import "theme";
/* You can add global styles to this file, and also import other style files */

.play-game-id-qrcode .qrcode img{
    display: block;
    margin: auto;
}

.card-top-right-button {
    float: right;
    //vertical-align: top;
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.dark-chip-input .mat-chip {
    background-color: mat-color($mat-grey, 400) !important;
}

.wide-chip-input > * {
    width: 100% !important;
}

