button{
    width: 60%;
    height: 50px;
    max-width: 500px;
    font-size: 16pt;
}

.list-buttons {
    text-align: center;
    margin: 25px;
}

.logo-holder{
    text-align: center;
    margin: 25px;
}

#logo{
    width: auto;
    max-width: 75%;
    height: auto;
}
