<div layout-gt-sm="row">
    <div flex-gt-sm="80" flex-offset-gt-sm="10">
        <div class="logo-holder">
            <div class="list-buttons">
                <app-google-sign-in-button *ngIf="!afAuth.auth.currentUser"></app-google-sign-in-button>
            </div>
            <div class="list-buttons">
                <button *ngIf="afAuth.auth.currentUser" id="my-decks-button" mat-raised-button color="primary" [routerLink]="['/mydecks']">
                    My Decks
                </button>
            </div>
            <div class="list-buttons">
                <button id="play-button" mat-raised-button color="primary" [routerLink]="['/joingame']">
                    Join Game
                </button>
            </div>
            <div class="list-buttons">
                <button id="settings-button" mat-raised-button color="primary" [routerLink]="['/help']">
                    Help
                </button>
            </div>
        </div>
    </div>
</div>
