button{
    width: 75%;
    height: 50px;
    max-width: 500px;
    font-size: 16pt;
}

.list-buttons {
    text-align: center;
    margin: 25px;
    word-wrap: break-word;
}

.logo-holder{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#logo{
    width: 70%;
    max-width: 600px;
    height: auto;

}
